<ion-header>
  <ion-toolbar color="primary">
    <ion-title>📈 Estadísticas del Partido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Gráfico -->
  <div class="chart-container">
    <canvas id="statsChart"></canvas>
  </div>

  <!-- Botones -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="success" (click)="updateStat('puntos')">
          + Punto Ganado
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="danger" (click)="updateStat('errores')">
          + Error No Forzado
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" color="tertiary" (click)="updateStat('saques')">
          + Saque Ganado
        </ion-button>
      </ion-col>
    </ion-row>

    
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-button expand="block" color="medium" (click)="undoLast()">
          ⬅ Deshacer último movimiento
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
