/* Fondo verde como la otra tab */
ion-content {
  --background: linear-gradient(180deg, #003300, #000000);
  color: #fff;
}


h2 {
  text-align: center;
  color: #fff;
  margin: 16px 0;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 16px 0;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px;
  flex-wrap: wrap;
  gap: 10px;
}

ion-button {
  flex: 1;
  min-width: 150px;
  font-weight: bold;
  border-radius: 8px;
}

ion-button[color="success"] {
  --background: #2ecc71;
}

ion-button[color="danger"] {
  --background: #e74c3c;
}

ion-button[color="tertiary"] {
  --background: #8e44ad;
}
