<ion-header>
  <ion-toolbar color="primary">
    <ion-title>🏆 Ranking de Pádel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="ranking.length > 0; else sinDatos">
    <ion-list>
      <ion-item *ngFor="let jugador of ranking; index as i">
        <ion-label>
          <h2>{{ i + 1 }}. {{ jugador.nombre }}</h2>
          <p>{{ jugador.puntos }} puntos</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ng-template #sinDatos>
    <p class="ion-text-center">No hay datos aún.</p>
  </ng-template>
</ion-content>
