ion-content {
  --background: #f5f6fa;
}

ion-card {
  margin-bottom: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

ion-card-header {
  text-align: center;
}

ion-card-title {
  color: #222;
  font-weight: bold;
}

ion-item {
  --background: transparent;
}

ion-button {
  margin-top: 12px;
  font-weight: bold;
  --border-radius: 12px;
}


ion-button {
  margin-top: 10px;
  --border-radius: 12px;
  font-weight: bold;
}
