<ion-tabs>
  <!-- 🚀 ESTE OUTLET es obligatorio -->
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" [routerLink]="['/tabs/home']">
      <img src="assets/img/home-outline.svg" alt="Home" style="width: 24px; height: 24px;" />
    </ion-tab-button>

    <ion-tab-button tab="health" [routerLink]="['/tabs/health']">
      <img src="assets/img/heart-sharp.svg" alt="Health" style="width: 24px; height: 24px;" />
    </ion-tab-button>

    <ion-tab-button




